 

.msg-row{
  margin-left: 10px;
}

 .menuicon{
    color:#eb482f;
    display: block;
 }
 .font-color{
  color:#fff !important;
 }
 .success,.bookedpaid{
  color: #144A09;
 }
 .pending,.bookednotpaid{
  color: #b30000;
 }
 .rowmenu{
    padding: 20px;
    height: 30%;
 }
 .homemenu{
    padding: 20px;;
    height: 50%;
    background: rgba(255,255,255,1); 
 }

 .home1{
    margin: 2px;
    background-color: #f7b71e;
    width: 48%;
    display: inline-block;
    border-radius: 20px;
 }

 .forgot-password > span{
  color:#b30000 !important;
  font-size: 15px;

 }
 .toolbar-button{
  color: #fff !important;
 }
 .home2{
    width: 48%;
    display: inline-block;
    border-radius: 20px;
 }
 .largebtn{
    width: 90%;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    display: inline-block;
 }
 .home-border{
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
}
.started{
    display: inline-block;
    width: 45%;
}
.border{
    margin: 10px 0px;
}

.ons-carousel-item {
  display: table;
  text-align: center;
}

.slide-item{
    display: table;
  text-align: center;
}

.item-label {
  display: table-cell;
    vertical-align: middle;
    color: white;
    line-height: 1;
    font-size: 17px;
}

.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 30px;
  color: white;
}



.form-row {
  margin: 4px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 90%;
  margin: 50px auto 0px auto;
}

input[type=text],
input[type=password] {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password],input[type=text] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

.page--profile-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
  background-color: rgba(255,255,255,1);
}

.card {
  background-color: white;
    /* background-image: url(../images/profile.jpg); */
    background-repeat: no-repeat; 
    color: white;
    height: 250px;
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/profile.jpg);
    background-size: cover;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #b30000;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}

.page-space{
  margin-top: 43px;
}
.headtitle{
  background-color: #f7b71e;
  color: #fff; 
    height: 3em;
    /* margin-top: 10px; */
    text-align: center;
    padding-top: 10px;
}

.profile-card {
  width: 100%;
  text-align: center;
  color: #b30000;;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  margin: auto;
    padding-top: 30px;
    font-size: 30px;
    height: 100px;
    width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #b30000;
  color:#fff;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
  color: #b30000;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
 
  color: #b30000;
}

.profile-desc {
  font-size: 15px;
   width: 90%;
  text-align: center;
  margin: 0 auto;
  color: #b30000;
}


.page--menubg__content{
  background-color: #b30000 !important;
}

.menu-list{
  background-color: #b30000 !important;
}

.menu-item{
  color:#fff !important;
  font-size: 15px;
}

.list__item--productlist{
  margin: 0 1em;
}

.page--home-bg__content{
 background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg) !important;
  background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg) !important; /* Standard syntax */
  
 background-size: cover !important;


}

.pod{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
      margin: 1em auto;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    padding: 1em;
    margin: 3px;
    color: #000;
    overflow: auto;
    text-align: center;
    color: #6d6d6d;
    font-family: 'Roboto Light';
    padding: 40px 30px;
    overflow: auto;
}

.pod .highlight {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
    display: block;
    color: #b30000;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
}

.contentpod {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
    margin: 1em auto;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    padding: 1em;
    margin: .8em 1em 1em;
    color: #000;
    overflow: auto;
    text-align: left;
    color: #6d6d6d;
    font-family: 'Roboto Light';
    font-size: 14px;
    line-height: 1.6em;
    padding: 20px;
    overflow: auto;
}
.btn-hash{
  color:#b30000;
}

.paybtn{
      width: auto;
    font-size: 0.5em;
    display: inline-block;
    line-height: 2;
    background: #43a047;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.delbtn{
      width: auto;
    font-size: 0.5em;
    display: inline-block;
    line-height: 2;
    background: #b30000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.optmsg{
  border:1px solid #ddd;
  height: 6em;
}

.half-list{
  margin-left: 6em;
  border-left: 1px solid #ddd;
}

.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 15px 0px 15px 15px;
}

.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left;
}

.list-item-right {
  width: 100%;
  float: right;
}

.list-item-content {
  margin-left: 50px;
  margin-right: 30px;
}

.trans{
 
}

.avator {
  width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
    margin-right: 15px;
    padding: 0 !important;
    text-transform: uppercase;
    color: white;
  margin-left: 10px;
  background-color: #800000;
 /* margin: 0px 10px;*/
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.desc {
  line-height: 16px;
}

.lucent {
  opacity: 0.4;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 1;
  width: 70px;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  font-weight: bold;
  /*opacity: 0.4;*/
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}

.inputbox{
  height: 50px !important;
}