

.navigation-bar,.navigation-bar__item, .navigation-bar__left, .navigation-bar__right, .navigation-bar__center
{
	height: 72px;
	

}

.navigation-bar__title, .navigation-bar__left, .navigation-bar__line-height  {
line-height: 72px;
}

.navigation-bar +  .page__content {
padding-top: 72px;
}


