/**
*
* Override base app styles
*
**/

.cover-label button {
	margin-top: 1em;
}

.cover-label .tab-bar__item > input[type="radio"]:checked + button{
	border-bottom: 2px solid #eb5e2f;
	width: 80%;
}

.cover-label .tab-bar--top {
	border-bottom: 1px solid #b30000;
	background: transparent !important;
}

.navigation-bar {
	background: #b30000 !important;
	height: 55px !important;
	padding-top: 5px;
}

.user-profile {
	height: 8em;
	text-align: center;
	position: relative;
	top: 38%;
}

.user-profile span {
	background: #ccf;
	padding: 2em 2.2em;
	border-radius: 50%;
	border: 2px #6B6363 solid;
}

.homeBlock {
	padding-top: 15px;
}

.homeBlock .row {
	margin: 0px !important;
}

.homeBlock .row > div{
	padding: 0.3em !important;
}

.homeBlock .row > div .merchant {
	width: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/profile.jpg) ;
	background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/profile.jpg); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/profile.jpg); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/profile.jpg); /* For Firefox 3.6 to 15 */
  background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/profile.jpg);
	height: 8em;
	position: relative;
	background-size: cover;
}

.homeBlock .row > div .merchant .tint {
	background: #000;
	opacity: .7;
	width: 100%;
	height: 100%;
	position: absolute;
}

.homeBlock .row > div .merchant .content-block {
	position: absolute;
	bottom: 0%;
	background: #b30000;
	width: 100%;
	 
}

.homeBlock .row > div .merchant .content-block .balls:before {
	content: attr(data-merchant-icon);
	background: #f7b71e;
	padding: 0.4em .8em;
	border-radius: 50%;
	position: absolute;
	top: -1.5em;
	left: 35%;
	box-shadow: 1px 1px 2px #333;
	text-transform: uppercase;
	color: #fff;
}
.merchant-name{
	color: #fff;
}

.homeBlock .row > div .merchant .content-block .balls .merchant-name {
	font-size: .7em;
	padding: .5em 0em;
}

.podinput{
	height: 44px;
}



@media (min-width: 768px) { 
	.homeBlock .row > div .merchant {
	    height: 12em;
	}

	.homeBlock .row > div .merchant .content-block .balls::before {
    	left: 43%;
	}
}














