


.pendingbadge {
  float: right;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   
    background-color: #F5BD16;
    width: 58;
    height: 15;
    text-align: center;
    border-radius: 9px;
}

.paidbadge {
  width: 58;
    height: 15;
    text-align: center;
    border-radius: 9px;
  float: right;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   
    background-color: #144A09;
}
.failedbadge {
  width: 58;
    height: 15;
    text-align: center;
    border-radius: 9px;
  float: right;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: red;
    
}






.signup{
  margin-top: 10px;
}

.headertext{
  color:white;
  font-size: 22px;
}

span > i{
  padding-top: 14px !important;
  font-size: 46px !important;
}

.headers{
  margin-bottom: 28px;
}

.formhead{
  margin-top: 28px;
}

#top-search-wrap{

      position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    height: 65px;
    background: #4285F4;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 10;


}

.tableinvoice{
  border-width: 3px;
    border-color: black;
    padding: 0px !important;
    min-height: 0px;
    border-bottom: 1px solid black !important;
    display: block;
}
.invoicebtns{
  padding-right: 2%;
    padding-left: 2%;
}

.merchantsach{
      border: 0;
    height: 30px;
    padding: 0 4px 0 4px;
    font-size: 18px;
    margin: 2px;
    width: 100%;
    border-radius: 2px;
    color: rgba(51, 51, 51, 0.69);
    background-color: rgba(255, 255, 255, 0.26);
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
}

.topsearch{
  margin-top: 10px;
 margin-bottom: -33px !important;
    margin-left: 12px;
}
.addmerchant{
      float: right;
    font-size: 12px;
    
        height: 34;
    width: 31;
    margin:0px 0px 0px 0px;
        border-radius: 4px;

    
}
.addCustomer{
    float: right;
    font-size: 12px;
    
    border-radius: 50%;
    margin-top: 422px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    z-index: 2000;
}

.addCustomer1{
    float: right;
    font-size: 12px;
    
    border-radius: 50%;
    margin-top: 100px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    z-index: 2000;
}

.btnsearch{
    border-radius: 4px;

   float: right;
    font-size: 12px;
    
        height: 34;
    width: 31;
   margin:0px 0px 0px 0px;
}

.searchinput{
       height: 30px !important; 
    /* padding: 5px 10px; */
     font-size: 12px; 
     line-height: 1.5; 
    border-radius: 2px;
}


.profileImage{
    height: 90px;
    width:100px;
        margin: 10px 10px 4px 110px;
}

.merchantchart{
  margin: 0px 0px 0px 0px;
}
.divider{
      -webkit-box-flex: 0;
    flex: 0 0 2px;
    max-width: 2px;
  background-color: black;
}

.invoicetext{
  word-wrap: break-word;
}







.comments{
  font-family: roboto;
    font-size: 13px;
    line-height: 1.42857143;
    color: #5e5e5e;
}

.graph{
  margin-bottom: 10px;
}

.timemsg{
  font-style: normal;
  padding: 0px;
  text-align: inherit;
}

.dp{
  width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
    margin-right: 15px;
    padding: 0 !important;
    text-transform: uppercase;
}

#case_content > iframe{
  height: 50%;
  width: 100%;
}




.newshead{
  margin-top:10px;
}



ons-carousel-item {
  display: table;
  text-align: center;
}
.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 17px;
   
}
.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}

.title{
  font-weight: bold;
}

.back{
  float:right;
  margin-right: 10px;
}

.slide{
  background-size: cover;
  color:#fff ;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
.slide1
{ 
    background: url(../images/slide1.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg); /* Standard syntax */
  
  background-size: cover;
  
}
.slide2
{
    background: url(../images/slide2.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide2.jpg); /* Standard syntax */
  
  background-size: cover;
}

.slide3
{
    background: url(../images/slide3.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide3.jpg); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide3.jpg); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide3.jpg); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide3.jpg); /* Standard syntax */
  
  background-size: cover;
}

.slide4
{
    background: url(../images/slide4.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide4.jpg); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide4.jpg); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide4.jpg); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide4.jpg); /* Standard syntax */
  
  background-size: cover;
}

.slide5
{
    background: url(../images/slide5.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide5.jpg); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide5.jpg); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide5.jpg); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide5.jpg); /* Standard syntax */
  
  background-size: cover;
}

.slide6
{
   background: url(../images/slide6.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide6.jpg); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide6.jpg); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide6.jpg); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide6.jpg); /* Standard syntax */
  
  background-size: cover;
}

 

.home1{
margin: 2px;
background-color: #f7b71e;
width: 48%;
display: inline-block;
}

.home2{
      background-color: #14b1bb;
      width: 48%;
      display: inline-block;
}

.action {
    position: absolute;
    bottom: 31px;
    right: 0px;
    left: 0px;
    /* width: 90%; */
    padding-right: 2%;
    padding-left: 2%;
}

.container{
  height:100px;
}


.m1{
  background-color: #dd5600;
  color:#fff;
}

.m2{
  background-color: #669533;
  color:#fff;
}

.m3{
  background-color: #14b1bb;
  color:#fff;
}

.m4{
  background-color: #f7b71e;
  color:#fff;
}

.m5{
  background-color: #a2d246;
  color:#fff;
}

.m6{
  background-color: #9e6ab8;
  color:#fff;
}


 








.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.colortext{
  color:#434a54;
  padding: 5px;
}

.msg{
  padding: 10px;
  margin-top: -10px;
  border-radius: 0px;
}

.highlight{
  color:#dd5600;
  margin-right: 5px;

}
#msgbody{
  height: 100%;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}

.reply-notification {
  position: absolute;
  right: 18px;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}

.status0{
  color:#dd5600;
}
.status1{
  color:#669533;
}

.menu{
  padding: 10px 10px;
  margin: 10px 10px;
  height: 100px;
}

.menulist{
  margin:10px;
}

#mapBox {
  margin-top: 20px;
   width: 100%; 
  height: 35%;
  margin-bottom: 20px;
}

#usermap {
  margin-top: 20px;
   width: 100%; 
  height: 35%;
  margin-bottom: 20px;
}

#userlocation{
    margin-top: 20px;
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}

.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}



.paysuccess{
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  color: #144A09;
}

.paypending{
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  color: #F5BD16;
}

.payfailed{
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  color:#f44336;
}

.addicon{
  opacity: 1;
  font-size: 17px !important;
  width: 9px !important;
}

.tdate{
  opacity: 1;
}

.addentity{
  font-size: 18px !important;
}








  html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;

    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .matbutton{
    height: 49px;
    padding-top: 14px;
    font-size: 26px;
    width: 80%;
    margin: auto auto;
    }







    .page--menu-page__background {
  background-color: black !important;
  color: white;
}

.menu-page,.page--menu-page{
  background-color: black !important;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: black;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: black;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}