<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" /> 
    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- UI dependency for grid -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-sunshine-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
     <link rel="stylesheet" href="styles/app.css" />
     <link rel="stylesheet" type="text/css" href="./styles/index-test.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen|Arvo|Josefin+Sans' rel='stylesheet' type='text/css'> 
    <!-- --------------- App init --------------- --> 
    <title>SmartShop</title> 
</head> 
<body onload="init()" ng-controller="SmartShopCtrl">
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
    <!-- --> 


    <ons-modal var="modal">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br><br>Please wait.<br>Processing request.
    </ons-modal> 

    <ons-sliding-menu
                  main-page="home.html"
                  menu-page="menu.html"       
                  side="left" type="overlay" max-slide-distance="80%"
                  max-slide-distance="250px"
                  var="menu">
    </ons-sliding-menu>

    <!-- Application Menu -->

    <ons-template id="menu.html" >
    <ons-page modifier="menubg">
    <div class="profile-card" ng-if="user.type == 'user'"> 
        <div class="profile-image">{{customerInfo.customerInfo[0].fullname.charAt(0)}}</div>
        <div class="profile-name">{{customerInfo.customerInfo[0].fullname}}</div>
        <div class="profile-id">{{customerInfo.customerInfo[0].email}}</div>
        <div class="profile-desc"></div> 
      </div> 
    <div class="profile-card" ng-if="user.type == 'merchant' "> 
        <div class="profile-image">{{merchantInfo.merchantInfo[0].companyname.charAt(0)}}</div>
        <div class="profile-name">{{merchantInfo.merchantInfo[0].companyname}}</div>
        <div class="profile-id">{{merchantInfo.merchantInfo[0].email}}</div>
        <div class="profile-desc">{{merchantInfo.merchantInfo[0].address}}</div> 
    </div>

        
       <ons-list class="menu-list">
          <ons-list-item class="menu-item" id="menumerchant" ng-click="allMerchants()" ng-if="user.type == 'user' ">
            <ons-icon icon="fa-users"></ons-icon>
            Merchants
          </ons-list-item>
          <ons-list-item class="menu-item" ng-click="paymentRequest()" ng-if="user.type == 'user' ">
            <ons-icon icon="fa-users"></ons-icon>
            Track payment 
          </ons-list-item>

            <ons-list-item class="menu-item" id="historymenu" ng-click="showHistory()" ng-if="user.type == 'merchant' ">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Track payment 
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="sendBill()" ng-if="user.type == 'merchant' ">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Send Bill
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="walletInfo()">
            <ons-icon icon="fa-credit-card"></ons-icon>
            Wallet
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="showMessage()" ng-if="user.type == 'merchant' ">
            <ons-icon icon="fa-envelope"></ons-icon>
            Messages
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="showAdvert()" ng-if="user.type == 'version2' ">
            <ons-icon icon="fa-eye"></ons-icon>
            Advert
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.closeMenu()" ng-if="user.type == !'version2' ">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Loyalty
          </ons-list-item>

         
          

          <!-- Merchant section -->

         

          <ons-list-item id="storemenu" class="menu-item" ng-click="merchantStore()" ng-if="user.type == 'merchant' ">
            <ons-icon icon="fa-database"></ons-icon>
            Store
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="showSupport()">
            <ons-icon icon="fa-question"></ons-icon>
            Support
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="logout()">
            <ons-icon icon="fa-sign-out"></ons-icon>
            Logout
          </ons-list-item>

        </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="home.html" >
    
      <ons-navigator var="main_navigator">
      <ons-page modifier="home-bg">
        <ons-carousel swipeable overscrollable auto-scroll fullscreen var="carousel">
                <ons-carousel-item class="slide-item">
                <div class="item-label">
                    <i class="fa fa-cart"></i><br><br>
                  <div style="font-size:30px; margin-bottom:20px;">SmartShop</div>
                    <p class="rider" >We are building the Next Generation <br/>Payment and Billing Network</p>
                </div>
                </ons-carousel-item>
                <ons-carousel-item class="slide-item" style="background-color: #085078;">
                <div class="item-label">
                    <ons-icon icon="fa-lightbulb-o fa-4x " class="ons-icon fa-lightbulb-o fa-4x fa fa-lg"></ons-icon><br><br>
                    <span class="title">SmartShop</span><br>
                    <p class="rider">We are building the Next Generation Payment Network</p>
                </div>
                </ons-carousel-item>
                <ons-carousel-item class="slide-item" style="background-color: #373B44;">
                <div class="item-label">
                    <ons-icon icon="fa-lightbulb-o fa-4x " class="ons-icon fa-lightbulb-o fa-4x fa fa-lg"></ons-icon><br><br>
                    <span class="title">SmartShop</span><br>
                    <p class="rider">We are building the Next Generation Payment Network</p>
                </div>
                </ons-carousel-item>
                <ons-carousel-item class="slide-item" style="background-color: #D38312;">
                <div class="item-label">
                    <ons-icon icon="fa-lightbulb-o fa-4x " class="ons-icon fa-lightbulb-o fa-4x fa fa-lg"></ons-icon><br><br>
                    <span class="title">SmartShop</span><br>
                    <p class="rider">We are building the Next Generation Payment Network</p>
                </div>
                </ons-carousel-item>
               
            </ons-carousel>
             <div>
             <div class="cover-label"> 
                    
             <div class="tab-bar tab-bar--top tab-bar--top-border">
              <label class="tab-bar__item tab-bar--top-border__item">
                <input type="radio" name="top-tab-bar-b" checked="checked" ng-model="user.type" value="user" ng-click="chooseUserType('user')">
                <button class="tab-bar__button tab-bar--top-border__button">
                  User
                </button>
              </label>

              <label class="tab-bar__item tab-bar--top-border__item">
                <input type="radio" name="top-tab-bar-b" ng-model="user.type" value="merchant" ng-click="chooseUserType('merchant')">
                <button class="tab-bar__button tab-bar--top-border__button">
                  Merchants
                </button>
              </label>
            </div>

                <button class="button button--large--cta home1" ng-click="showSignUp()">SIGN UP</button>
                <button class="button button--large home2 " ng-click="showLogin()">SIGN IN</button>
            </div>
            </div>
                    
                </div>
                </ons-page>
      </ons-navigator>
   
    </ons-template>

    <ons-template id="signup.html">
        <ons-page modifier="signup">
            <ons-toolbar>
                <div class="center font-color">Sign up</div>
                <div class="right font-color"><ons-toolbar-button onclick="main_navigator.popPage()">Close</ons-toolbar-button></div>
            </ons-toolbar> 
          

            <div class="formarea" id="merchantsignup" ng-if="user.type == 'user' ">
                <div class="form-row">
                  <input type="text" class="text-input--underbar width-half" ng-model="signup.fullname" placeholder="Fullname" value="">
                </div> 
                <div class="form-row">
                    <input type="text" class="text-input--underbar width-half" ng-model="signup.email" placeholder="Email" value="">
                    <input type="text" class="text-input--underbar width-half" ng-model="signup.phoneno" placeholder="Phone Number" value="" style="border-width-left: 1px">
                </div> 
                <div class="form-row">
                  <input type="text" class="text-input--underbar width-full" ng-model="signup.username" placeholder="Username" value="">
                </div> 
                <div class="form-row">
                    <input type="password" class="text-input--underbar width-full" ng-model="signup.password" placeholder="Password" value="">
                </div> 

                 <div class="form-row">
                    <input type="password" class="text-input--underbar width-full" ng-model="signup.smartpin" placeholder="5 SmartShop Pin" value="">
                </div> 
                <div class="form-row">
                   <select class="text-input--underbar width-full" ng-model="signup.question">
                      <option>Select Security Question</option>
                      <option>What is the name of your pet</option>
                      <option>Your mother's maiden name</option>
                    </select>
                </div>
                 <div class="form-row">
                    <input type="text" class="text-input--underbar width-full" ng-model="signup.answer"  placeholder="Answer" value="">
                </div> 
                 <div class="form-row">
                    <input type="text" class="text-input--underbar width-full"  placeholder="State" value="">
                </div> 
                
                 

                <div class="vspc form-row">
                  <div style="text-align:center">
                  <ons-button modifier="large--cta" class="button button--large--cta home1" ng-click="signupCustomer()">Create Account</ons-button>
                  </div>
                </div>
        </div> 

         <div class="formarea" id="merchantsignup" ng-if="user.type == 'merchant' ">
                <div class="form-row">
                    <input type="text" class="text-input--underbar width-half" ng-model="signup.companyname" placeholder="Your Company Name" value="">
                    <input type="text" class="text-input--underbar width-half" ng-model="signup.rcnumber" placeholder="RC Number" value="" style="border-width-left: 1px">
                </div> 
                <div class="form-row">
                    <input type="text" class="text-input--underbar width-full" ng-model="signup.phoneno" placeholder="Phone Number" value="">
                </div> 
                <div class="form-row">
                    <input type="text" class="text-input--underbar width-half" ng-model="signup.email" placeholder="Email" value="">
               </div> 
                 <div class="form-row">
                  <input type="text" class="text-input--underbar width-full" ng-model="signup.username" placeholder="Username" value="">
                </div> 
                <div class="form-row">
                    <input type="password" class="text-input--underbar width-full" ng-model="signup.password" placeholder="Password" value="">
                </div> 
                <div class="form-row">
                   <select class="text-input--underbar width-full" ng-model="signup.question">
                      <option>Select Security Question</option>
                      <option>What is the name of your pet</option>
                      <option>Your mother's maiden name</option>
                    </select>
                </div>
                 <div class="form-row">
                    <input type="text" class="text-input--underbar width-full" ng-model="signup.answer"  placeholder="Answer" value="">
                </div> 
                 <div class="form-row">
                    <input type="text" class="text-input--underbar width-full" ng-model="signup.address"  placeholder="Address" value="">
                </div> 
               <div class="vspc form-row">
                  <div style="text-align:center">
                  <ons-button modifier="large--cta" class="button button--large--cta home1" ng-click="signupMerchant()">Create Account</ons-button>
                  </div>
                </div>
        </div> 
        </ons-page>
    </ons-template>

      
    <ons-template id="login.html" >
         <ons-page>
            <ons-toolbar>
                <div class="center font-color">Log In</div>
                <div class="right font-color"><ons-toolbar-button onclick="main_navigator.popPage()">Close</ons-toolbar-button></div>
            </ons-toolbar> 

            <div class="login-form"> 
                <input type="text"  class="text-input--underbar" id="user_name"  placeholder="Username"  ng-model="user.username">
                <input type="password" id="user_password"  class="text-input--underbar" placeholder="Password" value="" ng-model="user.password">
                <br><br>
                <ons-button modifier="large" class="login-button home1" ng-click="Login()">Sign In</ons-button>
                <br><br>
                <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
            </div> 
        </ons-page>
    </ons-template>

     <ons-template id="customerDashboard.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
        <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
          <div class="center font-color">{{pageTitle}}</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="card"> 
          <div class="card-name">Good Afternoon <span>{{customerInfo.customerInfo[0].fullname}}</span></div>
          <div class="card-desc">Do you know you can beat the queue and<br/>get rewarded?
          Just Pay with your <br/>SmartShop ID {{customerInfo.customerInfo[0].id}}
          </div> 
        </div>

        <div class="rating"><div class="rating-num">
            <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
            <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
            <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
            <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
            <ons-icon icon="fa-star-half" fixed-width="false"></ons-icon>
            4.5
        </div></div>
 
         
          
         <div class="homeBlock container-fluid">
            <div class="row homemenuu"> 
                <div class="col-md-4 col-sm-4 col-xs-6" ng-click="merchantsProduct(merchant)" ng-repeat="merchant in merchants_db">
                    <div class="merchant">
                        <!--<div class="tint"></div>-->
                        <div class="content-block">
                            <div class="row">
                                <div class="col-xs-12 balls" data-merchant-icon="{{merchant.companyname.charAt(0)}}">
                                    <p class="merchant-name">{{merchant.companyname}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
      </ons-page>
    </ons-template>


     <ons-template id="merchantProducts.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
              <ons-toolbar modifier="transparent">
                  <div class="left">
                    <ons-back-button></ons-back-button>
                  </div>
                  <div class="right">
                     
                  </div>
              </ons-toolbar>

              <div class="page-space"></div>
               <div class="card"> 
                <div class="card-name">{{currentMerchant.companyname}}</div>
                <div class="card-desc">{{currentMerchant.address}}<br/>{{currentMerchant.phoneno}}
                 <br/>{{currentMerchant.email}}
                </div> 
              </div> 
        <ons-list>
            <ons-list-header class="headtitle">Pay for items and pickup anytime</ons-list-header>
             <div class="navigation-bar" style="background:transparent !important;">
               <div class="navigation-bar__center"> 
               <div class="button-bar" style="width:200px; margin:8px auto 0;">
                  <div class="button-bar__item" ng-model="user.type" value="All" ng-click="filterProduct('All')">
                    <input type="radio" name="navi-segment-a" checked>
                    <div class="button-bar__button">Products</div>
                  </div>
                  <div class="button-bar__item" ng-model="user.type" ng-if="products.cart.length > 0 " value="Paid" ng-click="filterProduct('Paid')">
                    <input type="radio" name="navi-segment-a">
                    <div class="button-bar__button">Checkout</div>
                  </div>
                </div>
              </div> 
            </div>



            <ons-list-item   ng-if="products.merchantProducts.length < 1 " modifier="productlist">
            Products not Available
            </ons-list-item> 

            <ons-list-item ng-repeat="product in products.merchantProducts" ng-if="products.filter == 'All' " modifier="productlist">{{product.name}}
              <div style="float: right;">
                <span>&#8358;{{product.price}}</span>
              <span><button class="button button--large paybtn " ng-click="addToCart(product)">ADD TO CART</button></span>
              </div>
            </ons-list-item> 

             

            <ons-list-item ng-repeat="product in products.cart" ng-if="products.filter == 'Paid' " modifier="productlist">{{product.name}}
              <div style="float: right;">
                <span>&#8358;{{product.price}}</span>
              <span><button class="button button--large delbtn " ng-click="removeProduct(product)"><i class="fa fa-2x fa-close"></i></button></span>
              </div>
            </ons-list-item> 
            <ons-list-item class="half-list"  ng-if="products.filter == 'Paid' " modifier="productlist">Sub Total
              <div style="float: right;">
                <span>&#8358;{{price}}</span>
              </div>
            </ons-list-item> 

            <ons-list-item class="half-list"  ng-if="products.filter == 'Paid' " modifier="productlist">Discount
              <div style="float: right;">
                <span>&#8358;{{totaldiscount}}</span>
              </div>
            </ons-list-item> 

            <ons-list-item class="half-list"  ng-if="products.filter == 'Paid' " modifier="productlist">Total
              <div style="float: right;">
                <span>&#8358;{{totalprice}}</span>
              </div>
            </ons-list-item> 

            <ul class="list" ng-if="products.filter == 'Paid'" > 
              <li class="list__item list__item--tappable" >
                <label class="checkbox checkbox--list-item">
                  <input type="checkbox" checked ng-click="paystatus()">
                  <div class="checkbox__checkmark
                    checkbox--list-item__checkmark"></div>
                  Book on hold
                </label>
              </li>
            </ul> 
      </ons-list> 

      <div style="text-align:center;" class="contentpod" ng-if="products.filter == 'Paid'">
        <div style="text-align:center;">MESSAGE(OPTIONAL)</div>
        <textarea class="text-input--underbar width-full optmsg"></textarea>

        <button ng-if="paymentStatus == 'paynow'" class="button button--large--cta home1" ng-click="payWithSmartShop()" style="text-align:center;">
          PAY
        </button>

          <button ng-if="paymentStatus == 'paylater'" class="button button--large--cta home1" ng-click="payWithSmartShop()" style="text-align:center;">
          BOOK
        </button>
      </div>

      <div style="text-align:center; margin-top:5px;" class="" ng-if="products.filter == 'All' ">
        <button class="button button--large--cta home1" ng-click="main_navigator.pushPage('compose.html', {title : 'josh'});" style="text-align:center;">Send Message</button>
      </div>

       <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>

      </ons-page>
    </ons-template>


     <ons-template id="merchantStore.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
              <ons-toolbar modifier="transparent">
              <div class="left">
                <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
              </div>
                  <div class="center font-color">{{pageTitle}}</div>
                  <div class="right">
                    <ons-toolbar-button ng-click="main_navigator.pushPage('addProduct.html', {animation : 'slide'});">
                        Add Product
                    </ons-toolbar-button>
                  </div>
              </ons-toolbar>

              <div class="" style="margin-top:55px;"></div>
                
        <ons-list modifier="chevron">
            <ons-list-header modifier="chevron" class="headtitle">Products on your SmartShop Store</ons-list-header>
             

            <ons-list-item modifier="chevron" ng-click="productInformation(product)" ng-repeat="product in merchantInfo.products" ng-if="products.filter == 'All' " modifier="productlist">{{product.name}}
              <div style="float: right;margin-right:2em;">
                <span>&#8358;{{product.price}}</span>
              </div>
            </ons-list-item>  
      </ons-list> 
       <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
      </ons-page>
    </ons-template>


     <ons-template id="productInformation.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
        <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-back-button></ons-back-button>
          </div>
          <div class="center font-color">{{currentMerchant.companyname}}</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="page-space"></div>
        <div class="pod">
          <span class="highlight">{{product.name}}</span>
        </div>
        <ons-list>
        <ons-list-item   modifier="productlist">Price
          <div style="float: right;">
            <span>&#8358;{{product.price}}</span> 
          </div>
        </ons-list-item>  
        <ons-list-item class="half-list" modifier="productlist">Discount
          <div style="float: right;">
            <span>&#8358;{{product.discount_amount}}</span>
          </div>
        </ons-list-item> 

        <ons-list-item class="half-list"  modifier="productlist">Total
          <div style="float: right;">
            <span>&#8358;{{product.price-product.discount_amount}}</span>
          </div>
        </ons-list-item> 
      </ons-list>
       <div class="contentpod"> 
      <div class="invoicebtns">
        <button  class="button button--large home1 btn btn-warning waves-effect" 
        ng-click="main_navigator.pushPage('updateProduct.html', {animation : 'slide'});">Update</button>
        <button class="button button--large home2 btn bgm-teal waves-effect" ng-click="deleteProduct(product)">Delete</button> 
      </div> 
    </div> 

       <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>  
      </ons-page>
    </ons-template>

    <ons-template id="addProduct.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
        <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-back-button></ons-back-button>
          </div>
          <div class="center font-color">Add Product</div>
          <div class="right">
            <ons-toolbar-button>
              
            </ons-toolbar-button>
          </div>
        </ons-toolbar> 
        <div class="page-space"></div>

        <div class="contentpod"> 
          You can Add your Products to SmartShop and make it available for SmartShop Users To Pay
          <div class="form-row"> 
             <input type="text" id="myproductname" ng-model="newproduct.name" class="text-input--underbar width-full podinput" placeholder="Product Name" >
             <input type="tel" id="myprice" class="text-input--underbar width-full podinput" ng-model="newproduct.price" placeholder="Price" >
             
             <ons-list-item>
             <label class="radio-button"   ng-click="discountType('Fixed Value')">
                <input type="radio" name="r" checked="checked" ng-model="newproduct.discount_type" value="Fixed Value">
                <div class="radio-button__checkmark"></div>
               Fixed Value
              </label>

              <label class="radio-button" ng-click="discountType('Percentage')">
                <input type="radio" name="r" ng-model="newproduct.discount_type" value="Percentage">
                <div class="radio-button__checkmark"></div>
                Percentage
              </label>

              <div id="mydiscount_type" style="display:none;">{{discount_type}}</div>
              <div id="mymerchantid" style="display:none;">{{merchantInfo.merchantInfo[0].id}}</div>

              </ons-list-item>
             <input type="tel" id="mydiscount_amt"  class="text-input--underbar width-full podinput" ng-model="newproduct.discount_amount" placeholder="Discount" >
          </div> 
          <br/>
          {{newproduct.name}} SmartShop Price is: {{newproduct.price-newproduct.discount}}<br/>
           <div style="text-align:center">
            <button class="home2 btn bgm-teal btn-hash theme-btn waves-effect" ng-click="saveProduct()">Save</button>
          </div>
        </div>
        
         <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
      </ons-page>
    </ons-template>


  <ons-template id="updateProduct.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
        <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-back-button></ons-back-button>
          </div>
          <div class="center font-color">Update Product</div>
          <div class="right">
            <ons-toolbar-button>
              
            </ons-toolbar-button>
          </div>
        </ons-toolbar> 
        <div class="page-space"></div>

        <div class="contentpod"> 
          Change the information below to update your product
          <div class="form-row"> 
             <input type="text" id="myproductname" ng-model="product.name" class="text-input--underbar width-full podinput" placeholder="Product Name" >
          <input type="tel" id="myprice" class="text-input--underbar width-full podinput" ng-model="product.price" placeholder="Price" >
             <input type="tel" id="mydiscount_amt"  class="text-input--underbar width-full podinput" ng-model="product.discount_amount" placeholder="Discount" >
          </div> 
          <br/>
          {{product.name}} SmartShop Price is: {{product.price-product.discount_amount}}<br/>
           <div style="text-align:center">
            <button class="home2 btn bgm-teal btn-hash theme-btn waves-effect" ng-click="updateProduct(product)">Update</button>
          </div>
        </div>
        
         <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
      </ons-page>
    </ons-template>

     <ons-template id="receipt.html" ng-controller="MerchantCtrl">
          <ons-page modifier="profile-details">
        <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-back-button></ons-back-button>
          </div>
          <div class="center font-color">{{currentMerchant.companyname}}</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="page-space"></div>
        <div class="pod">
          Transaction Reference is <br/><span class="highlight">TNX|REF|{{transaction.id}}</span>
        </div>
        <ons-list>
        <ons-list-header class="headtitle">Status : {{transaction.status}} Date: {{transaction.date}}</ons-list-header> 
        <ons-list-item ng-repeat="product in products.cart"  modifier="productlist">{{product.itemname}}
          <div style="float: right;">
            <span>&#8358;{{product.price}}</span> 
          </div>
        </ons-list-item> 
        <ons-list-item class="half-list"    modifier="productlist">Sub Total
          <div style="float: right;">
            <span>&#8358;{{price}}</span>
          </div>
        </ons-list-item> 

        <ons-list-item class="half-list" modifier="productlist">Discount
          <div style="float: right;">
            <span>&#8358;{{totaldiscount}}</span>
          </div>
        </ons-list-item> 

        <ons-list-item class="half-list"    modifier="productlist">Total
          <div style="float: right;">
            <span>&#8358;{{totalprice}}</span>
          </div>
        </ons-list-item> 
      </ons-list> 

        <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>

      </ons-page>
    </ons-template>

<ons-template id="user_wallet.html"> 
<ons-page modifier="inner" > 
        <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
          <div class="center font-color">{{pageTitle}}</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>
    <div class="pod" ng-if="user.type == 'user'">
        Your Wallet Balance<br/><span class="highlight">&#8358;{{customerInfo.wallet[0].amount}}</span>
    </div> 
    <div class="pod" ng-if="user.type == 'merchant' ">
        Your Wallet Balance<br/><span class="highlight">&#8358;{{merchantInfo.wallet[0].amount}}</span>
    </div> 
    <div id="invoice_list"></div>  
    <div class="contentpod"> 
      <div class="invoicebtns">
            <button  class="button button--large home1 btn btn-warning waves-effect"
            onclick="main_navigator.pushPage('transfer_cash.html',{ animation: 'slide' });">Transfer</button>
            <button class="button button--large home2 btn bgm-teal waves-effect" 
            onclick="main_navigator.pushPage('recharge_wallet.html',{ animation: 'slide' });" ng-if="user.type == 'user' ">Recharge</button>
            <button class="button button--large home2 btn bgm-teal waves-effect" 
            onclick="main_navigator.pushPage('recharge_wallet.html',{ animation: 'slide' });" ng-if="user.type == 'merchant' ">Cash Out</button>
      </div> 
    </div> 
</ons-page>
</ons-template>

<ons-template id="transfer_cash.html"> 
<ons-page modifier="inner" >
 <ons-toolbar modifier="transparent">
          <div class="left">
           <ons-back-button></ons-back-button>
          </div>
          <div class="center font-color">TRANSFER</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

<div class="contentpod"> 
To Tranfer SmartShop Cash to another User, you have to enter the amount and Wallet ID
<div class="form-row"> 
   <input type="tel" ng-model="wallet.walletReceiverID" class="text-input--underbar width-full inputbox" placeholder="Wallet ID" >
   <input type="tel"  class="text-input--underbar width-full inputbox" ng-model="wallet.rechargeAmount" placeholder="Enter Amount" value="">
</div> 
 <div style="text-align:center">
  <button class="home1 btn bgm-teal btn-hash theme-btn waves-effect font-color" ng-click="transfer()">Transfer</button>
</div>

</div> 
 <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
</ons-page>
</ons-template>

<ons-template id="recharge_wallet.html"> 
<ons-page modifier="inner" >
  <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-back-button></ons-back-button>
          </div>
          <div class="center font-color">RECHARGE</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

<div class="contentpod"> 
To Recharge your wallet, Please Enter the amount
<div class="form-row">  
    <input type="tel"  class="text-input--underbar width-full" ng-model="wallet.rechargeAmount" placeholder="Enter Amount" >
</div> 
 <div style="text-align:center">
  <button class="home1 btn bgm-teal btn-hash theme-btn waves-effect font-color" ng-click="recharge()" >RECHARGE</button>
</div>

</div>

</ons-page>
</ons-template> 

<ons-template id="support.html">
        <ons-page>
      <ons-toolbar>
      <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">SUPPORT</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="to-wrapper">
          <ons-row>
            <ons-col width="52px" style="margin-left:10px;">
              <img src="images/icon.png" width="42" class="to-image">
            </ons-col>
            <ons-col>
              <div class="to-name">SmartShop</div>
              <div class="to-email">info@smartshop.com</div>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item ng-if="user.type == 'merchant'">
          <input type="text"  class="text-input text-input--transparent" ng-model="support.name" value="{{merchantInfo.merchantInfo[0].companyname}}" placeholder="Name" style="width: 100%">
        </ons-list-item>

         <ons-list-item ng-if="user.type == 'merchant'">
          <input type="text"  class="text-input text-input--transparent" ng-model="support.email" value="{{merchantInfo.merchantInfo[0].email}}" placeholder="Email" style="width: 100%">
        </ons-list-item>

        <ons-list-item ng-if="user.type == 'user'">
         <input type="text"  class="text-input text-input--transparent" ng-model="support.name" value="{{customerInfo.customerInfo[0].fullname}}" placeholder="Name" style="width: 100%">
        </ons-list-item>

         <ons-list-item ng-if="user.type == 'user'">
          <input type="text"  class="text-input text-input--transparent" ng-model="support.email"  value="{{customerInfo.customerInfo[0].email}}" placeholder="Email" style="width: 100%">
        </ons-list-item>

        <ons-list-item>
          <textarea class="textarea textarea--transparent" ng-model="support.message" placeholder="Send a message" style="width: 100%; height: 100px;"></textarea>
        </ons-list-item> 
      </ons-list>
      <div class="contentpod">
        HelpLine Numbers:07033556109, 07030253949
      </div>

      <div style="padding: 10px 9px">
        <ons-button modifier="large" ng-click="sendSupport()" style="margin: 0 auto;">
          Send
        </ons-button>
      </div> 
    </ons-page>
</ons-template>

<ons-template id="compose.html">
        <ons-page>
      <ons-toolbar>
      <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">SEND MESSAGE</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="to-wrapper">
          <ons-row>
            <ons-col width="52px" style="margin-left:10px;">
              <img src="images/icon.png" width="42" class="to-image">
            </ons-col>
            <ons-col>
              <div class="to-name">{{currentMerchant.companyname}}</div>
              <div class="to-email">{{currentMerchant.email}}</div>
            </ons-col>
          </ons-row>
        </ons-list-item>
        

         <ons-list-item >
          <input type="text" class="text-input text-input--transparent" ng-model="support.email" placeholder="Email" style="width: 100%">
        </ons-list-item> 
        <ons-list-item>
         <input type="text" class="text-input text-input--transparent" ng-model="support.name" placeholder="Name" style="width: 100%">
        </ons-list-item> 
        <ons-list-item>
          <textarea class="textarea textarea--transparent" ng-model="support.message" placeholder="Message" style="width: 100%; height: 100px;"></textarea>
        </ons-list-item> 
      </ons-list>

      <div style="padding: 10px 9px">
        <ons-button modifier="large" ng-click="sendMessage()" style="margin: 0 auto;">
          Send
        </ons-button>
      </div> 
    </ons-page>
</ons-template>
<ons-template id="chat.html">
        <ons-page>
      <ons-toolbar>
      <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">Messages</div>
      </ons-toolbar>
 
 <ons-list class="timeline" modifier="inset">
          <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
            <ons-row class="msg-row">
              <ons-col>
                <div class="timline-from">
                  <span class="timeline-name">Dave Graham</span>
                </div>

                <div class="timeline-message">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>

        <ons-bottom-toolbar style="border-top:0px solid #ddd; bottom:3px;">
           <div class="form-row">
          <textarea class="text-input--underbar width-full" placeholder="Send Message" ng-model="chatmessage" ng-model-options="{ getterSetter: true }"  style="width:78%;"></textarea>
          <button class="button button--quiet" style="width:20%;" ng-click="sendMessage({{customerInfo.customerInfo[0].id}},{{currentMerchant.id}})">Send</button>
        </div>
        </ons-bottom-toolbar>

    </ons-page>
</ons-template>


<ons-template id="messaging.html">
     <ons-toolbar>
       <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">Messages</div>
      </ons-toolbar>
  <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="merchant in merchants_db">
          <div class="list-item-left">
            <div class="avator">{{merchant.companyname.charAt(0)}}</div>
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
              <div class="name">{{merchant.companyname}}
                <span class="lucent">{{merchant.email}}</span>
              </div>

              <span class="desc">{{merchant.address}}</span>
            </div>
          </div>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-if="user.type == 'merchant'" class="list-item-container" 
        ng-click="messageInfo(message)" ng-repeat="message in merchantInfo.messages">
          <div class="list-item-left">
            <div class="avator">{{message.customername.charAt(0)}}</div>
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
              <div class="name">{{message.customername}}
                <span class="lucent">{{message.email}}</span>
              </div>

              <span class="desc">{{message.message}}</span>
            </div>
          </div>
        </ons-list-item> 
      </ons-list>

</ons-template>

<ons-template id="messageInfo.html">
     <ons-toolbar>
       <div class="left">
            <ons-back-button></ons-back-button>
          </div>
        <div class="center font-color">{{message.customername}}</div>
      </ons-toolbar>
      <div class="contentpod">
        {{message.message}}
      </div>

</ons-template>

<ons-template id="paymentrequest.html">
     <ons-toolbar>
       <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">TRACK PAYMENT </div>
      </ons-toolbar>

       <div class="navigation-bar" style="background:transparent !important;">
               <div class="navigation-bar__center"> 
               <div class="button-bar" style="width:200px; margin:8px auto 0;">
                  <div class="button-bar__item" ng-model="user.type" value="All" ng-click="filterCustomerTransaction('Bills')">
                    <input type="radio" name="navi-segment-a" checked>
                    <div class="button-bar__button">In Store</div>
                  </div>
                  <div class="button-bar__item" ng-model="user.type"  value="Paid" ng-click="filterCustomerTransaction('Booked')">
                    <input type="radio" name="navi-segment-a">
                    <div class="button-bar__button">Out Store</div>
                  </div>
                </div>
              </div> 
            </div>
      
      <ons-list class="timeline" modifier="inset">
          <ons-list-item class="timeline-li" modifier="tappable"  dir-paginate="transaction in  customerInfo.filtered_transactions  | itemsPerPage: 6"  ng-click="viewTransaction(transaction)" > 
            <ons-row>
              <ons-col width="60px">
                  <div class="avator"  >{{transaction.sender.charAt(0)}}</div>
              </ons-col>

              <ons-col>
                <div class="timeline-date">3/03/2016<br><span class="{{transaction.status}}">{{transaction.status}}</span></div>
                <div class="timline-from">
                  <span class="timeline-name">{{transaction.sender}}</span>
                  <span class="timeline-id"></span>
                </div>

                <div class="timeline-message">
                  &#8358;{{transaction.amount}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
          <div style="text-align:center;">
            <dir-pagination-controls></dir-pagination-controls>
         </div>
        </ons-list>
         <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
</ons-template>

<ons-template id="bill.html"> 
<ons-page modifier="inner" >
 <ons-toolbar modifier="transparent">
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
          <div class="center font-color">SEND BILL</div>
          <div class="right">
            <ons-toolbar-button>
                <i class="fa fa-power-off font-color"></i>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

<div class="contentpod"> 
To Send Bills, you have to Enter the Customer SmartShop ID or Alias and the payment description.
<div class="form-row"> 
   <input type="tel" ng-model="merchantInfo.bill.receiver" class="text-input--underbar width-full inputbox" placeholder="SmartShop ID/Alias" >
   <input type="tel" ng-model="merchantInfo.bill.amount"  class="text-input--underbar width-full inputbox" ng-model="wallet.rechargeAmount" placeholder="Amount" value="">
    
</div> 
 <div style="text-align:center">
  <div style="text-align:center;">MESSAGE(OPTIONAL)</div>
        <textarea class="text-input--underbar width-full optmsg"></textarea>
        <button class="button button--large--cta home1" ng-click="sendBillPay()" style="text-align:center;">SEND</button>
</div>

</div> 
<ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
</ons-page>
</ons-template>

<ons-template id="historyfilter.html">
     <ons-toolbar style="margin-bottom:20px;">
       <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">HISTORY</div>
      </ons-toolbar>
      <div id="containert"></div>
       <ons-list modifier="chevron"> 
        <ons-list-item modifier="chevron" ng-click="transactionType('success')"  modifier="productlist">Success</ons-list-item> 
        <ons-list-item modifier="chevron" ng-click="transactionType('pending')"  modifier="productlist">Pending</ons-list-item> 
        <ons-list-item modifier="chevron" ng-click="transactionType('failed')"  modifier="productlist">Failed</ons-list-item> 
        <ons-list-item modifier="chevron" ng-click="transactionType('cancelled')"  modifier="productlist">Cancelled</ons-list-item>  
       </ons-list> 
</ons-template>

<ons-template id="history.html">
     <ons-toolbar>
       <div class="left">
           <!-- <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>-->
           <ons-back-button></ons-back-button>
          </div>
        <div class="center font-color">HISTORY</div>
      </ons-toolbar> 
      <div class="navigation-bar" style="background:transparent !important;">
               <div class="navigation-bar__center"> 
               <div class="button-bar" style="width:200px; margin:8px auto 0;">
                  <div class="button-bar__item" ng-model="user.type" value="All" ng-click="filterTransaction('Bills')">
                    <input type="radio" name="navi-segment-a" checked>
                    <div class="button-bar__button">In Store</div>
                  </div>
                  <div class="button-bar__item" ng-model="user.type"  value="Paid" ng-click="filterTransaction('Booked')">
                    <input type="radio" name="navi-segment-a">
                    <div class="button-bar__button">Out Store</div>
                  </div>
                </div>
              </div> 
            </div>
      <div class="pod">Total Amount<br/> <span class="highlight">&#8358;{{total_amount}}</span></div>
      
      <ons-list class="timeline" modifier="inset">
          <ons-list-item class="timeline-li trans"  modifier="tappable" ng-click="viewTransaction(transaction)"  dir-paginate="transaction in  merchantInfo.filtered_transactions | itemsPerPage: 6">
            
            <ons-row>
              <ons-col width="60px">
                  <div class="avator"  >{{transaction.receiver.charAt(0)}}</div>
              </ons-col>

              <ons-col>
                <div class="timeline-date {{transaction.status}}">&#8358;{{transaction.amount}}<br><span class="{{transaction.status}}">{{transaction.status}}</span></div>
                <div class="timline-from">
                  <span class="timeline-name">{{transaction.receiver}}</span>
                  <span class="timeline-id {{transaction.status}}"></span>
                </div>

                <div class="timeline-message ">
                  {{transaction.date}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
   <div style="text-align:center;">
   <dir-pagination-controls></dir-pagination-controls>
   </div>
        </ons-list>
        <ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
</ons-template>



<ons-template id="advert.html">
     <ons-toolbar>
       <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-navicon" style="color: white" ></ons-icon></ons-toolbar-button>
          </div>
        <div class="center font-color">Adverts</div>
      </ons-toolbar>
  <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="advert in adverts">
          <div class="list-item-left">
            <div class="avator">{{advert.merchant.charAt(0)}}</div>
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
              <div class="name">{{advert.title}}
                <span class="lucent">{{advert.merchant}}</span>
              </div>

              <span class="desc">{{advert.description}}</span>
            </div>
          </div>
        </ons-list-item> 
      </ons-list>
<ons-bottom-toolbar style="background: #F7B757;color: #fff;padding-top: 5px;">
          <marquee > 
              {{allAdvert}}
          </marquee>
        </ons-bottom-toolbar>
</ons-template>

    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/dirPagination.js"></script> 
     <script src="js/highcharts.js"></script>
    <script src="js/app.js"></script>
</body>
</html>